body,
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #87CEEB, #f4f4f4);
    background-size: cover;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.input-panel,
.doc-panel {
    background: white;
    border: 2px solid #007BFF;
    padding: 20px;
    width: 48%;
    border-radius: 10px;
}

#textContent {
    height: 400px;
    border: 1px solid #ccc;
    margin-top: 20px;
    overflow-y: auto;
    background: #fff;
    padding: 10px;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.export-button {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}